{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>speed</title>
</head>
<style>
    h1{
        
        color: rgb(108, 174, 9);
        text-align: center;
        font-size: 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;     
    }
    p{
        text-align: center;
        color: rgb(20, 11, 108);
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .img{
        text-align: center;
    }
   
</style>
<body>
    <h1>SPEED VS FREQUENCY</h1>
    <p>     In this site,to calculate the speed and<br> 
            frequency of three gulls:<b>Eric, Nico & Sanne</b></p>
    <div class="img">
        <img src="{% static 'images/speed.png' %}" width="700" height="600">
    </div>
</body>
</html>